# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Temp Files
*.DS_Store

# Crashpad GClient Sync Files
crashpad/.gclient
crashpad/.gclient_entries

# Directories
.build/
run_tree/*
.vs/
crashpad/buildtools/
crashpad/crashpad/
crashpad/meta_crashpad_db/

# Unignored Directories
!run_tree/code/
